In [2]:
from bs4 import BeautifulSoup
import requests

In [14]:
import string

In [16]:
def advance_letter_string_module(char, step=1):
    if not char.isalpha() or len(char) != 1:
        raise ValueError("Input must be a single alphabet character.")

    if char.islower():
        alphabet = string.ascii_lowercase
    else:
        alphabet = string.ascii_uppercase

    current_index = alphabet.index(char)
    new_index = (current_index + step) % len(alphabet) # Handle wrapping around 'z' or 'Z'
    return alphabet[new_index]

In [19]:
import pandas as pd

In [21]:
letter = "a"
df1_created = False
for i in range(26):
    base_url = "http://ufcstats.com/statistics/fighters?char=" + letter + "&page=all"
    page = ''
    while page == '':
        try:
            page = requests.get(base_url)
            break
        except requests.exceptions.ConnectionError:
            print("Connection refused by the server..")
            print("Let me sleep for 5 seconds")
            print("ZZzzzz...")
            time.sleep(5)
            print("Was a nice sleep")
    soup = BeautifulSoup(page.text, "html.parser")
    if not df1_created:
        header = soup.find_all("thead")[0]
        titles = header.find_all("th")
        first_titles = [title.text.strip() for title in titles]
        df1 = pd.DataFrame(columns= first_titles)
        df1_created = True
    body = soup.find_all("tbody")[0]
    t_body = body.find_all("tr") #the rows of data
    
    for row in t_body:
        data = row.find_all("td")
        row_data = [thing.text.strip() for thing in data]
        length = len(df1)
        if len(row_data) > 1:
            df1.loc[length] = row_data
    print("Just finished " + letter)
    letter = advance_letter_string_module(letter)

Just finished a
Just finished b
Just finished c
Just finished d
Just finished e
Just finished f
Just finished g
Just finished h
Just finished i
Just finished j
Just finished k
Just finished l
Just finished m
Just finished n
Just finished o
Just finished p
Just finished q
Just finished r
Just finished s
Just finished t
Just finished u
Just finished v
Just finished w
Just finished x
Just finished y
Just finished z

In [24]:
df1

,First,Last,Nickname,Ht.,Wt.,Reach,Stance,W,L,D,Belt
0,Tom,Aaron,,--,155 lbs.,--,,5,3,0,
1,Danny,Abbadi,The Assassin,"5' 11""",155 lbs.,--,Orthodox,4,6,0,
2,Nariman,Abbasov,Bayraktar,"5' 8""",155 lbs.,"66.0""",Orthodox,28,4,0,
3,Darion,Abbey,,"6' 2""",265 lbs.,"80.0""",Orthodox,9,5,0,
4,David,Abbott,Tank,"6' 0""",265 lbs.,--,Switch,10,15,0,
...,...,...,...,...,...,...,...,...,...,...,...
4421,Alex,Zuniga,,--,145 lbs.,--,,6,3,0,
4422,George,Zuniga,,"5' 9""",185 lbs.,--,,3,1,0,
4423,Allan,Zuniga,Tigre,"5' 7""",155 lbs.,"70.0""",Orthodox,13,1,0,
4424,Brahyan,Zurcher,,--,145 lbs.,--,,9,0,0,
4425,Virgil,Zwicker,RezDog,"6' 2""",205 lbs.,"74.0""",,15,6,1,

In [ ]:
letter = "a"
df2_created = False
unique = set()
for i in range(26):
    base_url = "http://ufcstats.com/statistics/fighters?char=" + letter + "&page=all"
    page = ''
    while page == '':
        try:
            page = requests.get(base_url)
            break
        except requests.exceptions.ConnectionError:
            print("Connection refused by the server..")
            print("Let me sleep for 5 seconds")
            print("ZZzzzz...")
            time.sleep(5)
            print("Was a nice sleep")
    soup = BeautifulSoup(page.text, "html.parser")
    body = soup.find_all("tbody")[0]
    extra_links = body.find_all("a")
    href_links = []
    for link in extra_links:
        href_links.append(link.get("href"))
        
    if not df2_created:
        first_fighter = requests.get(href_links[0])
        first_soup = BeautifulSoup(first_fighter.text, "html.parser")
        titles2 = first_soup.find_all("i", class_ = "b-list__box-item-title")
        titles2_test = [title.get_text(strip=True) for title in titles2 if title.text.strip()]
        good_titles = ["Name"] + titles2_test[6:]
        df2 = pd.DataFrame(columns=good_titles)
        df2_created = True
    for fighter in href_links:
        if fighter in unique:
            continue
        else:
            unique.add(fighter)  
        fighter_page = requests.get(fighter)
        fighter_soup = BeautifulSoup(fighter_page.text, "html.parser")
        fighter_row_data = fighter_soup.find_all("li", class_ = "b-list__box-list-item b-list__box-list-item_type_block")
        messy_row = [row.text.strip() for row in fighter_row_data if row.text.strip()]
        cleaned_row = [value.split("\n")[-1].strip() for value in messy_row if value.strip()]
        actual_row = cleaned_row[-8:]
        name = fighter_soup.find_all("h2", class_ = "b-content__title")[0].text.strip().split("\n")[0]
        row = [name] + actual_row
        df2length = len(df2)
        df2.loc[df2length] = row
    print("Just finished " + letter)
    letter = advance_letter_string_module(letter)

In [30]:
df2

,Name,SLpM:,Str. Acc.:,SApM:,Str. Def:,TD Avg.:,TD Acc.:,TD Def.:,Sub. Avg.:
0,Tom Aaron,0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Danny Abbadi,3.29,38%,4.41,57%,0.00,0%,77%,0.0
2,Nariman Abbasov,3.00,20%,5.67,46%,0.00,0%,66%,0.0
3,David Abbott,1.35,30%,3.55,38%,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,3.49,49%,4.49,51%,1.33,66%,100%,0.0
...,...,...,...,...,...,...,...,...,...
522,Herbert Burns,1.86,36%,5.17,41%,2.94,34%,66%,1.8
523,Derrick Burnsed,0.00,0%,0.00,0%,0.00,0%,0%,0.0
524,Nah-Shon Burrell,4.83,47%,3.45,56%,0.00,0%,52%,0.3
525,Martin Buschkamp,0.00,0%,0.00,0%,0.00,0%,0%,0.0
526,George Bush,6.35,64%,2.31,55%,17.31,66%,0%,0.0

In [31]:
df1[df1["Name"] == "Bruno Silva"]

,First,Last,Nickname,Ht.,Wt.,Reach,Stance,W,L,D,Belt,Name
3657,Bruno,Silva,Bulldog,"5' 4""",125 lbs.,"65.0""",Orthodox,14,7,2,,Bruno Silva
3658,Bruno,Silva,Blindado,"6' 0""",185 lbs.,"74.0""",Orthodox,23,13,0,,Bruno Silva

In [18]:
df2 = df2.drop_duplicates()

In [25]:
df1

,First,Last,Nickname,Ht.,Wt.,Reach,Stance,W,L,D,Belt,Name
0,Tom,Aaron,,--,155 lbs.,--,,5,3,0,,Tom Aaron
1,Danny,Abbadi,The Assassin,"5' 11""",155 lbs.,--,Orthodox,4,6,0,,Danny Abbadi
2,Nariman,Abbasov,Bayraktar,"5' 8""",155 lbs.,"66.0""",Orthodox,28,4,0,,Nariman Abbasov
3,David,Abbott,Tank,"6' 0""",265 lbs.,--,Switch,10,15,0,,David Abbott
4,Hamdy,Abdelwahab,The Hammer,"6' 2""",264 lbs.,"72.0""",Southpaw,6,1,0,,Hamdy Abdelwahab
...,...,...,...,...,...,...,...,...,...,...,...,...
4394,Dave,Zitanick,,--,170 lbs.,--,,5,7,0,,Dave Zitanick
4395,Alex,Zuniga,,--,145 lbs.,--,,6,3,0,,Alex Zuniga
4396,George,Zuniga,,"5' 9""",185 lbs.,--,,3,1,0,,George Zuniga
4397,Allan,Zuniga,Tigre,"5' 7""",155 lbs.,"70.0""",Orthodox,13,1,0,,Allan Zuniga
4398,Virgil,Zwicker,RezDog,"6' 2""",205 lbs.,"74.0""",,15,6,1,,Virgil Zwicker

In [20]:
df1.head()

,First,Last,Nickname,Ht.,Wt.,Reach,Stance,W,L,D,Belt
0,Tom,Aaron,,--,155 lbs.,--,,5,3,0,
1,Danny,Abbadi,The Assassin,"5' 11""",155 lbs.,--,Orthodox,4,6,0,
2,Nariman,Abbasov,Bayraktar,"5' 8""",155 lbs.,"66.0""",Orthodox,28,4,0,
3,David,Abbott,Tank,"6' 0""",265 lbs.,--,Switch,10,15,0,
4,Hamdy,Abdelwahab,The Hammer,"6' 2""",264 lbs.,"72.0""",Southpaw,6,1,0,

In [26]:
df1["Name"] = df1["First"] + " " + df1["Last"]

In [27]:
df1.to_csv("updated_record.csv")

In [71]:
full_df = pd.merge(left=df1, right=df2, on="Name")

In [73]:
full_df.columns

Index(['First', 'Last', 'Nickname', 'Ht.', 'Wt.', 'Reach', 'Stance', 'W', 'L',
       'D', 'Belt', 'Name', 'SLpM:', 'Str. Acc.:', 'SApM:', 'Str. Def:',
       'TD Avg.:', 'TD Acc.:', 'TD Def.:', 'Sub. Avg.:'],
      dtype='object')

In [74]:
cleaned_df = full_df.drop(['First', 'Last', 'Nickname', "Belt"], axis=1)

In [75]:
cleaned_df

,Ht.,Wt.,Reach,Stance,W,L,D,Name,SLpM:,Str. Acc.:,SApM:,Str. Def:,TD Avg.:,TD Acc.:,TD Def.:,Sub. Avg.:
0,--,155 lbs.,--,,5,3,0,Tom Aaron,0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,"5' 11""",155 lbs.,--,Orthodox,4,6,0,Danny Abbadi,3.29,38%,4.41,57%,0.00,0%,77%,0.0
2,"5' 8""",155 lbs.,"66.0""",Orthodox,28,4,0,Nariman Abbasov,3.00,20%,5.67,46%,0.00,0%,66%,0.0
3,"6' 0""",265 lbs.,--,Switch,10,15,0,David Abbott,1.35,30%,3.55,38%,1.07,33%,66%,0.0
4,"6' 2""",264 lbs.,"72.0""",Southpaw,6,1,0,Hamdy Abdelwahab,3.49,49%,4.49,51%,1.33,66%,100%,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4363,--,170 lbs.,--,,5,7,0,Dave Zitanick,0.00,0%,0.00,0%,0.00,0%,0%,0.0
4364,--,145 lbs.,--,,6,3,0,Alex Zuniga,0.00,0%,0.00,0%,0.00,0%,0%,0.0
4365,"5' 9""",185 lbs.,--,,3,1,0,George Zuniga,7.64,38%,5.45,37%,0.00,0%,100%,0.0
4366,"5' 7""",155 lbs.,"70.0""",Orthodox,13,1,0,Allan Zuniga,3.93,52%,1.80,61%,0.00,0%,57%,1.0
4367,"6' 2""",205 lbs.,"74.0""",,15,6,1,Virgil Zwicker,3.34,48%,4.87,39%,1.31,30%,50%,0.0

In [76]:
cleaned_df.to_csv("fighter_stats.csv")

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("fighter_stats.csv")

In [28]:
df[df["Name"] == "Bruno Silva"]

,Unnamed: 0,Ht.,Wt.,Reach,Stance,W,L,D,Name,SLpM:,Str. Acc.:,SApM:,Str. Def:,TD Avg.:,TD Acc.:,TD Def.:,Sub. Avg.:
3632,3632,"5' 4""",125 lbs.,"65.0""",Orthodox,14,7,2,Bruno Silva,3.83,49%,4.81,50%,1.79,23%,60%,0.2
3633,3633,"5' 4""",125 lbs.,"65.0""",Orthodox,14,7,2,Bruno Silva,3.86,48%,5.35,41%,0.77,22%,74%,0.0
3634,3634,"6' 0""",185 lbs.,"74.0""",Orthodox,23,13,0,Bruno Silva,3.83,49%,4.81,50%,1.79,23%,60%,0.2
3635,3635,"6' 0""",185 lbs.,"74.0""",Orthodox,23,13,0,Bruno Silva,3.86,48%,5.35,41%,0.77,22%,74%,0.0